<div id="acct" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="custom-modal-header modal-card-head">
      <img class="login-image" src="../images/scratchback-logo.png" alt="" /><p class="custom-modal-title modal-card-title">Your Profile</p>
      <button class="delete" name="delete"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <h2><strong>{{user.fullName}}</strong></h2>
      <span><strong>Your average job cost: </strong>{{user.jobCost}}</span>
      <br>
      <span><strong>Thumbs Ups: </strong>{{user.thumbsUp}}</span>
      <br>
      <span><strong>Job: </strong>{{user.jobskill}}</span>
      <br>
      <span><strong>Specialization: </strong>{{user.specialization}}</span>
      <br>
      <span><strong>Looking for: </strong>{[{ job }]}</span>
    </section>
    <footer class="custom-modal-footer modal-card-foot">

    </footer>
  </div>
</div>
