<div id="acct" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Account Profile</p>
      <button class="delete" name="delete"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <h2>{{user.fullName}}</h2>
      <span>{{user.jobCost}}</span>
      <br>
      <span>{{user.thumbsUp}}</span>
      <br>
      <span>Job: {{user.jobskill}}</span>
      <br>
      <span>Specialization: {{user.specialization}}</span>
      <span>{{ x }}</span>
    </section>
    <footer class="modal-card-foot">

    </footer>
  </div>
</div>
