
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css"
  integrity="sha256-n+Ch7oRdzZ9+8/inp+1mK/0Bt4T/2PSmo4L6YGoDiVM="
  crossorigin="anonymous" />

<div class="columns">
  <div class="column">
  <h1>Scratchback</h1>
  </div>
</div>

<div class="columns">
  <div class="column">
    <img src="{{avatar}}" alt="">
    <span>{{jobCost}}</span>
  </div>
  <div class="column">
    <div class="columns">
      <div class="column">
        <h2>{{user.fullName}}</h2>
      </div>
      <div class="column">
        <span>{{thumbsUp}}</span>
      </div>
    </div>
    <span>Job: {{jobskill}}</span>
    <br>
    <span>Specialization: {{specialization}}</span>
    <div class="">
      <form class="" action="/search/{{this.id}}?_method=put" method="post">
        <div class="field">
          <label for="">Looking for</label>
          <p class="control">
            <input type="text" name="lookingFor" value="">
          </p>
        </div>
        <div class="field">
          <input type="submit" name="" value="Search">
        </div>
      </form>
      <div id="display"class="">
        <span>{{jobskill}}</span>
        {{#each userRtn}}
        <span>{{this.fullName}}, {{this.email}}, {{this.zip}}</span>
        {{/each}}
      </div>
    </div>
  </div>
</div>
